:root {
  --background-color: #ddd;
  --text-color: black;
  --on-color: #00aeff;
  --off-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --text-color: white;
    --off-color: #333;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 95vmin;
  height: 95vmin;
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  vertical-align: top;
  width: 16.66%;
  height: 16.66%;
}

th {
  font-size: 8vmin;
}

td {
  border: 1vmin solid var(--background-color);
  transition: background 0.15s linear;
  background: var(--off-color);
}

td.on {
  background: var(--on-color);
}
